
body, ul {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
    /* display: grid;
    justify-content: end;
    align-content: end; */
    /* height: 2400px; */

}

body {
    height: 1200px;
}

.nav{
    background-color: aliceblue;
    /* height: 2rem; */
    /* position: fixed; */
    position: sticky;
    /* top: 0;
    left: 0; */
    width:  100vw;
    padding: 1rem;
    display: flex;
    /* padding: 10rem 100rem; */
    /* border: 1px solid red; */
    gap: 55%;
    
  

}

 
nav .link {
    display: flex;
    /* border: 1px solid black; */
    /* border: 1px solid black; */
}

.nav .logo {
    font-size: 1rem;
    text-decoration: none;

}

.logo {
    list-style: none;
}

.nav {
    /* justify-content: space-around; */
    
}

a {
    color: silver;
    text-decoration: none;
}

.nav .link {
    column-gap: 1rem;
    list-style: none;
}

.right {
    margin: 0;
    float: right;
}

.closedbtn {
    color: aliceblue;
}

.nav
.nav .closedbtn {
    display: none;
}

.openbtn {
    display: none;
}




/* .openbtn */

/* nav {
    display: flex;
    width: 100%;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
} */

.searchbox {
    border: 1px solid green;
    padding: 0.1rem;
    /* background-color: green; */

}

/* .right-box{
    border: 1px solid black;
    display: flex;
   
    
} */


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: aliceblue;
    /* position: relative; */
    width: 100%;
    height: auto;
}


footer .container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}

footer .container .sec h2 {
    position: relative;
    font-weight: 800;
    margin-bottom: 1rem;
    /* padding: 0.6rem; */
}

footer .container .sec p {
    color: black;
    padding: 0.6rem;
}

footer .container .sci {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 3.1rem);
}

footer .container .sci li a {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    display: grid;
    /* background-color: black; */
    color: blue;
    align-items: center;
    justify-content: center;
}

footer .container .quicklinks {
    position: relative;
}

footer .container .quicklinks ul li {
    list-style: none;
}

footer .container .quicklinks ul li a {
    color: #555;
    text-decoration: none;
    margin-bottom: 0.6rem;
    display: inline-block;
}

footer .container .contact  .info li {
    display: grid;
    grid-template-columns: 2rem 1fr;
    margin-bottom: 1rem;
}

footer .container .contact .info li span {
    color: #555;
    font-size: 1rem;
}

footer .container .contact .info li a {
    color: #555;
    text-decoration: none;
}

.copyrightText {
    width: 100%;
    background: #fff;
    padding: 1rem 6.25rem 2rem;
    text-align: center;
    color: #555;
    font-size: 0.8rem;
    
}

footer span {
    /* border: 1px solid black; */
    padding-top: 70%;
}

i:hover {
    background: #fff;
}

 .sup li:hover{
    background: #fff;
    /* text-decoration: underline; */
    text-decoration-line: underline;
}

.macmap li:hover {
    background: #fff;
}



.us {
    padding: 0.6rem;
}

.sendbtn {
    padding: 0.6rem;
    width: 50%;
    height: 3px;
    /* color: cornflowerblue; */
    background-color: aliceblue;
    border: none;;
    /* text-align: left; */
}

img {
    width: 100%;
    background-image: no-repeat;
    background-image: fixed;
    
}

.introtxt {
    text-align: center;
    position: fixed;
    top: 200px;
    padding: 10px;
    color: #fff;
    font-family: Arial, Helvetica;
    width: 100%;
    font-size: 50px;
    /* -webkit-text-stroke: 0.3vw  #555; */

}


.txt {
    text-align: center;
    position: fixed;
    top: 300px;
    padding: 10px;
    color: #fff;
    font-family: Arial, Helvetica;
    width: 100%;
    font-size: 20px;

}



.select-menu {
    width: 200px;
    /* margin: 20px auto; */
}

.select-menu .select-btn {
    display: flex;
    height: 20px;
    background-color: #fff;
    padding: 20px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
}

.select-btn i {
    font-size: 25px;
    padding: 10px auto;
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu .options {
    position: relative;
    /* padding: 1rem; */
    padding: 10px;
    /* margin-top: 10px; */
    border-radius: 8px;
    background: #fff;
    display: none;
}

.select-menu.active .options {
    display: block;
}

.options .option {
    display: flex;
    height: 30px;
    cursor: pointer;
    padding: 0px 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}

.options .option:hover {
    background: #f2f2f2;
}

option i {
    font-size: 1rem;
    margin-right: 12px;
}

.option .option-text {
    font-size: 1rem;
    color: #555;
}


.textcontainer {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.textcontainer .text {
    position: relative;
    color: #4070f4;
    font-size: 40px;
    font-weight: 600;

}


.textcontainer .text.frist-text {
    color: white;
    padding: 10px;
}

.text.sec-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    border-left: 2px solid #4070f4;
    animation:  animate 4s steps(12) infinite;
}

@keyframes animate {
    40%, 60%{
        left: 100%;
    }

    100% {
        left: 8%;
    }
}

/* Media query to show/hide the hamburger menu */
@media screen and (max-width: 770px) {

    .nav ,       
   .nav .closedbtn {
   display: block;
  } 

  .openbtn {
   display: none;
  }

   .openbtn 
   .searchbox {
   border: 1px solid green;
   padding: 0.1rem;
   display: none;
   /* background-color: green; */

   } 

   .nav, .link {
       position: fixed;
       /* top: 0;
       left: 0; */
       height: 100%;
       max-width: 19.5rem;      
       width: 100%;
       padding-top: 16.5rem;
       row-gap: 2rem;
       flex-direction: column;
       /* background-color: aliceblue; */
       transition: all 0.4s ease;
    } 
  /* 17.5  */
   .nav.openNav .link {
        left: 0;
   } 
    .nav .openbtn {
       color: black;
       font-size: 1rem;
       cursor: pointer;
   } 

    .nav .closedbtn {
       position: absolute;
       margin-top: -32rem;
       right: 3rem; 
       color: black;
       font-size: 1rem;
       cursor: pointer;
       text-align: left;
       /* border: solid 1px black; */
   }

   .openbtn {
       cursor: pointer;;

   }

      footer {
        display: none;

      } 

    .logo{
        position: absolute;
        top: 2rem;
    }

    .txt {
        margin-top: 100px;
        /* position: relative;
        z-index: 1; */
    }

    /* .introtxt {
        position: relative;
        z-index: 1;
    } */

    .textcontainer {
        /* display: block; */
        position: relative;
        z-index: -1;
    }

} 







